.button{

    height: 50px;
    border-radius: 8px;
    font-weight: 500px;
    background: #835afd;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 32px;

    cursor: pointer;
    border: 0;

    img{
        margin-right: 8px;
    }

    transition: filter 0.2s;

    &:not(:disabled):hover{
        filter: brightness(0.9);
    }

    &:disabled{
        opacity: 0.6;
        cursor: not-allowed;
    }

}